.best {
    background-color: green;
}

.vgood {
    background-color: green;
}

.pgood {
    background-color: green;
}

.good {
    background-color: green;
}

.notgood {
    background-color: yellow;
}

.bad {
    background-color: red;
}