.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.header h1 {
    margin-top: 15px;
    font-family: "Trajan Pro", serif;
    font-size: 45px;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: "Museo Sans 100", serif;    
    font-size: 15px;
}

.field {
    width: 700px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: -1;
}

.logo-img {
    width: 177px; 
    height: 177px; 
    position: absolute;
    top: 10;
    left: 10px;
    z-index: -1;
}

#search-player {
    display: flex;
    align-items: center;
}
  
#search-player label {
    display: flex;
    align-items: center;
}
  
#search-player input[type="text"] {
    margin-right: 5px;
    margin-left: 5px;
    width: 150px;
    height: 28px;
}
  
#search-player input[type="submit"] {
    margin-left: 3px;
    margin-right: 7px;
}


#filter-button {
    margin-left: -8px;
}
  
.fab {
    color: black;
    padding: 8px 12px 8px 14px;
    // margin: -5px -5px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: white;
    font-size: 40px; 
}
  
.fab:hover {
    box-shadow: 0 0 10px grey;
}

.icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
}
  
.form-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.form-container form {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.button {
    display: inline-block;
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 0 5px #999;
    font-family: "Museo Sans 100", serif;    
}
  
.button:hover {
    background-color: #3e8e41
}
  
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#loading-gif {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}







  